body{
    background-color:whitesmoke

}
.Blog{
    width: 20rem;

}
.Blog:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.255)!important;
}
.Blog-body{
    padding: 3rem 0 !important;
}
.Blog-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}
.container-fluid .row{
    padding-top: 6rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: tranform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.8);
}